/* Start Page Header */
.header0title {
  font-weight: 700;
  font-size: 13px;
}

.header1title {
  font-weight: 600;
  font-size: 11px;
}

/* Start Page Header */

/* Start Table  */

.table-contianer {
  margin-top: 30px;
  padding: 15px;
  background-color: white;
  border-radius: 25px;
  width: 100%;
  overflow-x: auto;
  display: grid;
  grid-template-columns: 1fr;
  /* max-width: 700px; */
}

.formik-input,
.formik-input:focus,
.formik-input:active {
  border: none !important;

  outline: none;
}
.table-userRegisted {
  padding: 0.5rem 0.5rem;
}
.col-title {
  font-size: 12px;
  font-weight: 500;
}

.userName-title {
  font-size: small;
  font-weight: 500;
}

.userName-email {
  font-size: 9px;
}

.status {
  padding: 5px 2px;
  border-radius: 25px;

  text-align: center;
  font-size: 10px;
  color: white;
  font-weight: 500;
}

.Plan_Name_plan {
  font-size: 12px;
  font-weight: 700;
}

.Plan_Name_words {
  font-size: 10px;
}

.price-plan {
  font-size: 10px;
  font-weight: 600;
}
.price-country {
  font-size: 10px;
}

.paid-plan {
  font-size: 12px;
}

.plan-period {
  padding: 5px 0;
  border-radius: 25px;
  text-align: center;
  font-size: 10px;
  color: white;
  font-weight: 600;
}

/* Start Action Buttons */

.button-see {
  background-color: #001a7233;
  position: relative;
}
.button-edit-regist,
.button-delete {
  position: relative;
  background-color: #d9d9d9;
}

.button-see:hover::after,
.button-delete:hover::after,
.button-edit-regist:hover::after {
  position: absolute;
  bottom: -20px;
  display: flex;
  font-size: 8px;
  background-color: #d9d9d9;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1px 5px;
  border-radius: 3px;
}

.button-see:hover::after {
  content: "View User";
  width: 50px;
}

.button-edit-regist:hover::after {
  content: "Edit User";
  width: 60px;
}

.button-delete:hover::after {
  content: "Delete User";
  width: 60px;
}

.button-edit-regist,
.button-see,
.button-delete {
  border: none;
  outline: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.button-delete:hover {
  background-color: #e21b1b1a;
  color: red !important;
}

.button-edit-regist:hover {
  background-color: #ffdb4533;
  color: #ffdb45 !important;
}
.view-button {
  border: none;
  outline: none;
  font-size: 7px;
  font-weight: 500;
  text-align: start;
  border-radius: 2px;
}

/* end Action Buttons */

.page-number {
}

.page-text {
  font-size: 10px;
  color: #b3b3b3;
}

* {
  --bs-pagination-active-bg: #001a72 !important;
  --bs-pagination-bg: white !important;

  --bs-pagination-disabled-bg: #ffffff;
  --bs-pagination-color: #001a72 !important;
}

.active-admin {
  background-color: #001a72;
  color: white;
}

.active-plan-period {
  background-color: #ed5ab3;
  color: white;
}
.export-button {
  padding: 5px 16px;
  border-radius: 25px;
  text-align: center;
  font-size: 8px;
  font-weight: 600;
  background-color: #ed5ab3;
  color: white;
  border: none;
  outline: none;
  box-shadow: 0px 4px 7px -3px black;
}

/* End Table  */

/* Start Page Header */
.header0title {
  font-weight: 700;
  font-size: 13px;
}

.header1title {
  font-weight: 600;
  font-size: 11px;
}

/* Start Page Header */

/* Start Table  */

.table-contianer {
  margin-top: 30px;
  padding: 15px;
  background-color: white;
  border-radius: 25px;
  width: 100%;
  overflow-x: auto;
  display: grid;
  grid-template-columns: 1fr;
  /* max-width: 700px; */
}

.formik-input,
.formik-input:focus,
.formik-input:active {
  border: none !important;

  outline: none;
}
.table-userRegisted {
  padding: 0.5rem 0.5rem;
}
.col-title {
  font-size: 12px;
  font-weight: 500;
}

.userName-title {
  font-size: small;
  font-weight: 500;
}

.userName-email {
  font-size: 9px;
}

.status {
  padding: 5px 2px;
  border-radius: 25px;

  text-align: center;
  font-size: 10px;
  color: white;
  font-weight: 500;
}

.Plan_Name_plan {
  font-size: 12px;
  font-weight: 700;
}

.Plan_Name_words {
  font-size: 10px;
}

.price-plan {
  font-size: 10px;
  font-weight: 600;
}
.price-country {
  font-size: 10px;
}

.paid-plan {
  font-size: 12px;
}

.plan-period {
  padding: 5px 0;
  border-radius: 25px;
  text-align: center;
  font-size: 10px;
  color: white;
  font-weight: 600;
}
.custom-toast-container {
  background-color: #f0f0f0; /* Change background color */
  color: #333; /* Change text color */
  border-radius: 8px; /* Add border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}
/* In your CSS file */
.custom-progress-bar {
  background-color: #ed5ab3 !important; /* Change progress bar color */
}

/* Start Action Buttons */

.button-see {
  background-color: #001a7233;
  position: relative;
}
.button-edit-regist,
.button-delete {
  position: relative;
  background-color: #d9d9d9;
}

.button-see:hover::after,
.button-delete:hover::after,
.button-edit-regist:hover::after {
  position: absolute;
  bottom: -20px;
  display: flex;
  font-size: 8px;
  background-color: #d9d9d9;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1px 5px;
  border-radius: 3px;
}

.button-see:hover::after {
  content: "View User";
  width: 50px;
}

.button-edit-regist:hover::after {
  content: "Edit User";
  width: 60px;
}

.button-delete:hover::after {
  content: "Delete User";
  width: 60px;
}

.button-edit-regist,
.button-see,
.button-delete {
  border: none;
  outline: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.button-delete:hover {
  background-color: #e21b1b1a;
  color: red !important;
}

.button-edit-regist:hover {
  background-color: #ffdb4533;
  color: #ffdb45 !important;
}
.view-button {
  border: none;
  outline: none;
  font-size: 7px;
  font-weight: 500;
  text-align: start;
  border-radius: 2px;
}

/* end Action Buttons */

.page-number {
}

.page-text {
  font-size: 10px;
  color: #b3b3b3;
}

* {
  --bs-pagination-active-bg: #001a72 !important;
  --bs-pagination-bg: white !important;

  --bs-pagination-disabled-bg: #ffffff;
  --bs-pagination-color: #001a72 !important;
}

.active-admin {
  background-color: #001a72;
  color: white;
}
.inactive-admin {
  background-color: #ffffff;
  border: 1px solid #001a72;
  color: #001a72;
}
.active-plan-period {
  background-color: #ed5ab3;
  color: white;
}
.export-button {
  padding: 5px 16px;
  border-radius: 25px;
  text-align: center;
  font-size: 8px;
  font-weight: 600;
  background-color: #ed5ab3;
  color: white;
  border: none;
  outline: none;
  box-shadow: 0px 4px 7px -3px black;
}

/* End Table  */
