.bg-container {
  background-color: #f0f4f9;
}
.text-size-small {
  font-size: 0.75rem !important;
  font-weight: 400;
}

.height-spinner {
  height: 80vh;
}
.text-pink {
  color: #ed5ab3;
}
.border-summary-cards {
  border-radius: 40px !important;
}
/* .css-1vuxth3-MuiBarElement-root {
  fill: #ffdb45 !important;

  border: 5px solid #ed5ab3 !important;
  border-top-right-radius: 25% !important;
} */
.text-bold {
  font-weight: 900 !important;
}

.admin-text {
  font-weight: bold;
  font-size: 14px;
}

.admin-name {
  font-size: 12px;
}

.table-rows {
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media (max-width: 1020px) {
  .table-rows {
    /* display: flex;
    flex-direction: column; */
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .table-rows {
    /* display: flex;
    flex-direction: column; */
    grid-template-columns: 100%;
  }
}
@media (max-width: 400px) {
  .table-rows {
    /* display: flex;
    flex-direction: column; */
    grid-template-columns: 1fr;
  }
}

.bg-xy {
  background-image: url("../../assets//Images/ChartIcons/bgxy.svg");
  background-size: contain;
  background-repeat: repeat-x;
}
